* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 20% 80%;
}

/* sidebar */

.sidebar {
    background-color: #16a34a;
    height: 100vh;
    display: grid;
    grid-template-rows: 0.3fr 2fr 0.3fr;
    padding: 10px;
    gap: 5px;
}

.logo {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.logo-img {
    width: 30px;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #14532d;
    padding: 5px;
}

.project {
    display: grid;
    grid-template-columns: 1fr 0.1fr 0.1fr;
    gap: 3px;
    padding: 5px;
    background-color: #15803d;
    border-radius: 5px;
}

.project.active, body > div > div.sidebar > div.project-list > div.project.active > img.update-btn.project, body > div > div.sidebar > div.project-list > div.project.active > img.delete-btn.project{
    background-color: #86efac;
}

.project:hover {
    box-shadow: -2px 2px #f0fdf4;
}

.update-btn.project:hover, 
.delete-btn.project:hover {
    box-shadow: none;
}

.add-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 10px;
    gap: 5px;
    background-color: #15803d;
    border-radius: 5px;
}

.project:first-child {
    padding: 10px;
    font-weight: bold;
}


/* content */

.content {
    background-color: #facc15;
    padding: 20px;
    display: grid;
    grid-template-rows: 0.3fr 3fr;
    gap: 5px;
}

.add-task {
    background-color: #fde047;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 10px;
    gap: 5px;
    border-radius: 5px;
}

.completed .task-text {
    text-decoration: line-through;
    color: rgb(138, 124, 54);
}

.task {
    background-color: #fde047;
    display: grid;
    grid-template-columns: 0.2fr 2fr 0.5fr 0.3fr 0.07fr 0.07fr;
    align-items: center;
    gap: 5px;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.task-list {
    background-color: #eab308;
    padding: 5px;
}

.status-checkbox {
    width: 25px;
    height: 25px;
    justify-self: center;
}

.project-name {
    align-self: center;
}

#task-date-text {
    text-align: center;
}

/* dialogs */

dialog {
    display: flex;
    align-self: center;
    justify-self: center;
    border: none;
}

form {
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    gap: 5px;
}

#project-dialog {
    background-color: rgb(64, 137, 90);
    border-radius: 5px;
}

#task-dialog {
    background-color: rgb(205, 176, 63);
    border-radius: 5px;
}

#task-form {
    gap: 5px;
}

input#project-name {
    margin-right: 5px;
    background-color: rgb(61, 110, 80);
    padding: 5px;
    border: none;
    border-radius: 5px;
}

label[for="project-name"] {
    font-size: 1.5em;
    margin-bottom: 10px;
}

form#task-form > input, select {
    background-color: rgb(227, 204, 83);
    padding: 5px;
    border: none;
    border-radius: 5px;
}

form#task-form *:focus, *::selection {
    background-color: rgb(248, 232, 116);
}

::placeholder {
    color: black;
}

/* buttons */

.update-btn, .delete-btn {
    width: 20px;
    padding: 0;
}

.open-btn {
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 2em;
    cursor: pointer;
    border: none;
}

.open-btn#projects {
    background-color: #14532d;
}

.open-btn#tasks {
    background-color: #fef08a;
    border: 1px solid rgb(181, 152, 64);
}

.close-button#project {
    margin-right: 5px;
}

button#project {
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #14532d;
}

button#project:hover {
    background-color: rgb(106, 243, 155);
}

button#task {
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(181, 152, 64);
}

button#task:hover {
    background-color: rgb(248, 232, 116);;
}

.close-button#task {
    position: relative;
    width: 30px;
    right: -160px;
}

.submit-button#task {
    width: 50px;
    align-self: center;
    margin-top: 10px;
}

/* priorities */

#task-priority-high {
    background-color: red;
    border: 3px solid rgb(248, 232, 116);
}

#task-priority-medium {
    background-color: orange;
    border: 3px solid rgb(248, 232, 116);
}

#task-priority-low {
    background-color: green;
    border: 3px solid rgb(248, 232, 116);
}
